<!-- ejs --embeded javascript file -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoom_Clone</title>
    <script>
        // here that "roomId" we r passing from server.js while rendering
        console.log( " <%= roomId %>"); // this is ejs templeting 
    </script>
</head>
<body>
    <H1>HAR HAR MAHADEV</H1>
</body>
</html>